<%- include('./partials/head') %> <%- include('./partials/header') %>

<h1><%= frontmatter.title %></h1>
<p><%= frontmatter.date %></p>
<p><%= frontmatter.author %></p>
<%- content %> <%- include('./partials/footer') %>
